<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method ='POST' action = '/piglatinize'>
      <label>Enter your phrase:</label>
      <textarea name="user_phrase"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
      <%# <input type="text" name="user_text">
      <input type="submit" id="submit"> %>
    </form>
  </body>
</html>